<header>
  <nav class="header-nav">
    <a class="header-title" href="/">X-meme</a>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/users/new">Add User</a></li>
      <li><a href="/memes">Memes</a></li>
      <li><a href="/memes/new">Add Meme</a></li>
    </ul>
  </nav>
</header>