<% memeCoverClass = locals.large ? 'meme-cover-large' : '' %>
<% memeGridClass = locals.large ? 'meme-grid-large' : '' %>
<div class="meme-grid <%= memeGridClass %>">
  <% memes.forEach(meme => { %>
    <a href="/memes/<%= meme.id %>">
      <img class="meme-cover <%= memeCoverClass %>" src="<%= meme.coverImagePath %>">
    </a>
  <% }) %>
</div>