<div class="form-row">
  <div class="form-item">
    <label>User</label>
    <select name="user">
      <% users.forEach(user => { %>
        <% if (user.id === meme.user) { %>
          <option selected label="<%= user.name %>" value="<%= user.id %>">
        <% } else { %>
          <option label="<%= user.name %>" value="<%= user.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="meme-cover filepond">
  </div>
  <div class="form-item">
    <label>Caption</label>
    <textarea name="caption"><%= meme.caption %></textarea>
  </div>
</div>