<h2 class="page-header">Search Meme</h2>
<form action="/memes" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>User</label>
      <input type="text" name="user" value="<%= searchOptions.user %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<%- include('../partials/memeGrid', { memes: memes, large: true }) %>