<h2 class="page-header"><%= meme.caption %></h2>
<div class="meme-details">
  <div>
    <img class="meme-cover" src="<%= meme.coverImagePath %>">
    <div class="meme-details-btn-grid">
      <a class="btn btn-primary" href="/memes/<%= meme.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/memes/${meme.id}` }) %>
      <a class="btn btn-primary meme-details-user-button" href="/users/<%= meme.user.id %>">View User</a>
    </div>
  </div>
  <div class="meme-details-grid">
    <div class="meme-details-label">User:</div>
    <div><%= meme.user.name %></div>
    <div class="meme-details-label">Caption:</div>
    <div><%= meme.caption %></div>
  </div>
</div>