:root {
  --meme-cover-width: 200px;
  --meme-cover-width-large: 325px;
  --meme-cover-aspect-ratio: 0.75;
}

.meme-cover {
  width: var(--meme-cover-width);
  height: calc(var(--meme-cover-width) / var(--meme-cover-aspect-ratio));
}

.meme-cover-large {
  --meme-cover-width: var(--meme-cover-width-large);
}

.meme-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--meme-cover-width));
}

.meme-grid-large {
  grid-template-columns: repeat(auto-fill, var(--meme-cover-width-large));
}

.meme-details {
  display: flex;
}

.meme-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.meme-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.meme-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "user user";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.meme-details-user-button {
  grid-area: user;
  justify-self: stretch;
}