<h2 class="page-header"><%= user.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/users/<%= user.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/users/${user.id}` }) %>
</div>
<% if (memesByUser.length > 0) { %>
  <h2 class="page-header">Memes By User</h2>
  <%- include('../partials/memeGrid', { memes: memesByUser }) %>
<% } %>